.container
  .row
    .col-sm-6.col-md-4.col-md-offset-2
      %h1.text-center.login-title Resend confirmation instructions
      .account-wall
        = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post,:class => "form-signin" }) do |f|
          = devise_error_messages!
          .form-group
            = f.label :email
            %br/
            = f.email_field :email, :class => 'form-control', autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
          = f.submit 'Resend confirmation instructions',:class => 'btn btn-info btn-block'
      .text-center.new-account
        = render "devise/shared/links"
