.row
  .col-md-1
    .thumbnail
      = image_tag(comment.user.avatar.url, :class => 'img-responsive user-photo')
  .col-md-7
    .panel.panel-default
      .panel-heading
        %strong= comment.user.email
        %span.text-muted
          commented 
          = time_ago_in_words(comment.created_at)
          ago
        - if can? :destroy, comment
          .pull-right= link_to 'Destroy', [comment.article, comment],:class => 'btn btn-xs btn-danger', method: :delete,data: { confirm: 'Are you sure?' }
      .panel-body
        = comment.body.html_safe
