- if @articles.length == 0
  %p.text-center 
    %em << No Results Found >>

- @articles.each do |article|
  .thumbnail
    .caption-full
      %h4
        = link_to article.title, article_path(article) |
        %span.pull-right
          - if can? :update, article
            = link_to 'Edit', edit_article_path(article), :class => 'btn btn-default btn-xs'
          - if can? :destroy, article
            = link_to 'Delete',                   |
              article_path(article),              |
              :method => :delete,                 |
              data: { confirm: 'Are you sure?' }, |
              :class => 'btn btn-xs btn-danger'   |
      %hr/
      = image_tag(article.featured.url, :class => 'article-img img-responsive')
      %hr/
      %p
        = truncate article.text.html_safe, length: 600,:omission => "",:escape => false
        %span= "..."
        %span= link_to 'Read more', {:controller => "articles",:action => "show",:id => article.friendly_id}
      %hr/
    %p.pull-right
      %span.glyphicon.glyphicon-tags
      %span.btn.btn-default.btn-xs= raw article.tags.map { |t| link_to t.name, tag_path(t.id) }.join(' | ') 
      
    .ratings
      .votes.pull-right.marg
        %span.fa.fa-thumbs-o-up.tally-likes{"aria-hidden" => "true", :id => article.id, :vote => "upvote"}
        %span.tally-likes= article.get_likes.size
        %span.fa.fa-thumbs-o-down{"aria-hidden" => "true", :id => article.id, :vote => "downvote"}
        %span.tally-dislikes= article.get_dislikes.size
      %p
        = time_ago_in_words(article.created_at)
        ago

.apple_pagination
  = will_paginate @articles
