.row.pad.well
  = search_form_for @q, remote:true do |f|
    .col-md-12
      %span.col-md-5= f.search_field :title_cont,:class => 'form-control no-pad', :placeholder => "Title"
      %span.col-md-5= f.search_field :tags_name_cont,:class => 'form-control no-pad', :placeholder => "Tags"
      .col-md-2= f.submit :class => 'btn btn-primary btn-block'

.pull-right
  %span= sort_link(@q, :title, 'Title', default_order: :asc)
  |
  %span= sort_link(@q, :created_at, 'Date', default_order: :asc)
  |
  %span= sort_link(@q, :tags_name, 'Tags', default_order: :asc)
%br

%div.thumb
  = render :partial => 'card'
