- @articles.each do |article|
  .thumbnail
    .caption-full
      %h4= link_to article.title, article_path(article)
      %hr/
      %p= article.text.html_safe
    .ratings
      %p.pull-right
        = link_to 'Edit',edit_article_path(article), :class => 'btn btn-default btn-xs'
        = link_to 'Delete',                   |
          article_path(article),              |
          :method => :delete,                 |
          data: { confirm: 'Are you sure?' }, |
          :class => 'btn btn-xs btn-danger'   |
      %p
        = time_ago_in_words(article.created_at)
        ago
