- @articles.each do |article|
  .thumbnail
    .caption-full
      %h4
        = link_to article.title, article_path(article) |
        %span.pull-right
          - if current_user != nil and current_user.email == article.user.email
            = link_to 'Edit',edit_article_path(article), :class => 'btn btn-default btn-xs'
            = link_to 'Delete',                   |
              article_path(article),              |
              :method => :delete,                 |
              data: { confirm: 'Are you sure?' }, |
              :class => 'btn btn-xs btn-danger'   |
      %hr/
      = image_tag(article.featured.url, :class => 'article-img img-responsive')
      %hr/
      %p
        = truncate article.text.html_safe, length: 600,:omission => "",:escape => false
        %span= "..."
        %span= link_to 'Read more', {:controller => "articles", :action => "show",:id => article.friendly_id}
      %p.pull-right
        %span.glyphicon.glyphicon-tags
        %span.btn.btn-default.btn-xs= raw article.tag_list.map { |t| link_to t, tag_path(t) }.join(' | ')  
    .ratings
      %p
        = time_ago_in_words(article.created_at)
        ago

= link_to 'Back', articles_path, :class => 'btn btn-default'
